<?xml version="1.0"?>
<launch>
    <arg name="initial_pose_x" default="6.53"/>
    <arg name="initial_pose_y" default="0.643"/>
    <arg name="initial_pose_a" default="0.0"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.32  0.34 0 0.785398 0 3.14159 /base_link /laser 10" />

     <!-- <include file ="$(find urg_node)/launch/urg_lidar.launch"/> -->

    <arg name="map_file" default="$(find filters_algorithms)/maps/new_map.yaml"/>
    <!-- <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen" >
      <param name="base_frame" value = "base_link"/>
        <param name="fixed_frame" value = "odom"/>
        <param name="kf_dist_angular" value="0.1"/>
        <param name="kf_dist_linear" value="0.1"/>
        <param name="max_correspondence_dist " value="1"/>
        <param name="max_angular_correction_deg" value="1"/>
         <param name="publish_pose_stamped" value="true"/>
        <param name="publish_tf" value="true"/>
        <param name="publish_odom" value="true"/>
        <param name="use_odom" value="false"/>
        <param name="use_imu" value="false"/>
        <param name="use_alpha_beta" value="true"/>
        <param name="max_iterations" value="10"/>
    </node> -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <node pkg="amcl" type="amcl" name="amcl" output="screen" ><!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <param name="odom_model_type" value="omni"/>
    <param name="odom_alpha5" value="0.2"/>
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="666"/>
    <param name="min_particles" value="50"/>
    <param name="max_particles" value="500"/>
    <param name="kld_err" value="0.01"/>
    <param name="kld_z" value="0.5"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <param name="odom_alpha3" value="0.2"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="laser_z_hit" value="0.9"/>
    <param name="laser_z_short" value="0.1"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.05"/>
    <param name="laser_sigma_hit" value="0.1"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <param name="laser_likelihood_max_dist" value="8.0"/>
    <param name="update_min_d" value="0.01"/>
    <param name="update_min_a" value="0.01"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" type="str" value="base_link" />
    <param name="global_frame_id" type="str" value="map" />
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/> 
    <param name="use_map_topic" value="true" />
    <param name="first_map_only" value="true" />
    </node>
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 10" /> -->
</launch>